<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>info</title>
</head>
<body>
  <ul>
    <li>Argumentos de entrada: {{data.argv}}</li>
    <li>Nombre de la plataforma: {{data.os}}</li>
    <li>Version de nodejs: {{data.node}}</li>
    <li>Memoria total reservada: {{data.rss}}</li>
    <li>Path de ejecucion: {{data.path}}</li>
    <li>process id: {{data.pid}}</li>
    <li>carpeta del proyecto: {{data.folder}}</li>
    <li>Numero de CPUs: {{data.cpus}}</li>
  </ul>
</body>
</html>